{:paths ["src"]
 :deps {me.raystubbs.clj-arsenal/check {:mvn/version "0.0.2"}
        me.raystubbs.clj-arsenal/log {:mvn/version "0.0.1"}
        me.raystubbs.clj-arsenal/basis {:mvn/version "0.0.4"}
        me.raystubbs.clj-arsenal/vdom {:mvn/version "0.0.1"}
        me.raystubbs.clj-arsenal/burp {:mvn/version "0.0.1"}}

 :aliases
 {:build
  {:deps {me.raystubbs.clj-arsenal/build {:mvn/version "0.0.5"}}
   :ns-default clj-arsenal.build}
  
  :dev
  {:extra-paths ["dev"]
   :extra-deps {cider/cider-nrepl {:mvn/version "0.50.0"}
                thheller/shadow-cljs {:mvn/version "2.28.19"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]
   :clj-arsenal.check/enabled true
   :clj-arsenal.check/ns-include-re "(clj-arsenal[.]wc([.].+)?|test)"}}

 :clj-arsenal.build/meta
 {:version "0.0.1"
  :name me.raystubbs.clj-arsenal/wc
  :license "The MIT License"
  :license-url "https://opensource.org/license/mit/"
  :pub-url "https://github.com/clj-arsenal/wc"
  :git-url "https://github.com/clj-arsenal/wc.git"}}
