{:paths
 ["src"]

 :deps
 {me.raystubbs.clj-arsenal/check {:mvn/version "0.0.6"}
  me.raystubbs.clj-arsenal/log {:mvn/version "0.0.2"}
  me.raystubbs.clj-arsenal/basis {:mvn/version "0.0.13"}
  me.raystubbs.clj-arsenal/vdom {:mvn/version "0.0.2"}
  me.raystubbs.clj-arsenal/burp {:mvn/version "0.0.2"}}

 :aliases
 {:build
  {:deps
   {me.raystubbs.clj-arsenal/build {:mvn/version "0.0.5"}}

   :ns-default clj-arsenal.build}}

 :clj-arsenal.build/meta
 {:version "0.0.1"
  :name me.raystubbs.clj-arsenal/wc
  :license "The MIT License"
  :license-url "https://opensource.org/license/mit/"
  :pub-url "https://github.com/clj-arsenal/wc"
  :git-url "https://github.com/clj-arsenal/wc.git"}}
